force-app/main/default/flows/Client_Onboarding_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <choices>
        <name>Bronze</name>
        <choiceText>Bronze</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bronze</stringValue>
        </value>
    </choices>
    <choices>
        <name>Finance</name>
        <choiceText>Finance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Finance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Germany</name>
        <choiceText>Germany</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Germany</stringValue>
        </value>
    </choices>
    <choices>
        <name>Gold</name>
        <choiceText>Gold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Healthcare</name>
        <choiceText>Healthcare</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Healthcare</stringValue>
        </value>
    </choices>
    <choices>
        <name>Netherlands</name>
        <choiceText>Netherlands</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Netherlands</stringValue>
        </value>
    </choices>
    <choices>
        <name>Platinum</name>
        <choiceText>Platinum</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Platinum</stringValue>
        </value>
    </choices>
    <choices>
        <name>Silver</name>
        <choiceText>Silver</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Silver</stringValue>
        </value>
    </choices>
    <choices>
        <name>Technology</name>
        <choiceText>Technology</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technology</stringValue>
        </value>
    </choices>
    <description>Guided onboarding flow for creating new Client records</description>
    <environments>Default</environments>
    <interviewLabel>Client Onboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Onboarding Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Client_Record</name>
        <label>Create Client Record</label>
        <locationX>176</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Annual_Revenue__c</field>
            <value>
                <elementReference>varAnnualRevenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Name__c</field>
            <value>
                <elementReference>varClientName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Tier__c</field>
            <value>
                <elementReference>varClientTier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_End__c</field>
            <value>
                <elementReference>varContractEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start__c</field>
            <value>
                <elementReference>varContractStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>varCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry__c</field>
            <value>
                <elementReference>varIndustry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website__c</field>
            <value>
                <elementReference>varWebsite</elementReference>
            </value>
        </inputAssignments>
        <object>Client__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Screen_1_Basic_Info</name>
        <label>Screen 1: Basic Info</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_2_Contract_Details</targetReference>
        </connector>
        <fields>
            <name>varClientName</name>
            <dataType>String</dataType>
            <fieldText>Client Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>varIndustry</name>
            <choiceReferences>Technology</choiceReferences>
            <choiceReferences>Finance</choiceReferences>
            <choiceReferences>Healthcare</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Industry</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>varCountry</name>
            <choiceReferences>Netherlands</choiceReferences>
            <choiceReferences>Germany</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>varWebsite</name>
            <dataType>String</dataType>
            <fieldText>Website</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_2_Contract_Details</name>
        <label>Screen 2: Contract Details</label>
        <locationX>176</locationX>
        <locationY>443</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_3_Confirmation</targetReference>
        </connector>
        <fields>
            <name>varClientTier</name>
            <choiceReferences>Platinum</choiceReferences>
            <choiceReferences>Gold</choiceReferences>
            <choiceReferences>Silver</choiceReferences>
            <choiceReferences>Bronze</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Client Tier</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>varContractStart</name>
            <dataType>Date</dataType>
            <fieldText>Contract Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>varContractEnd</name>
            <dataType>Date</dataType>
            <fieldText>Contract End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>varAnnualRevenue</name>
            <dataType>Currency</dataType>
            <fieldText>Annual Revenue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_3_Confirmation</name>
        <label>Screen 3: Confirmation</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Client_Record</targetReference>
        </connector>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please confirm the following details:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Client Name: &lt;/b&gt;{!varClientName}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Industry: &lt;/b&gt;{!varIndustry}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Country: &lt;/b&gt;{!varCountry}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Client Tier: &lt;/b&gt;{!varClientTier}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Contract Start: &lt;/b&gt;{!varContractStart}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Contract End: &lt;/b&gt;{!varContractEnd}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Annual Revenue: &lt;/b&gt;{!varAnnualRevenue}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_1_Basic_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
