force-app/main/default/flows/Overdue_Deliverable_Escalation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description>Scheduled flow that runs every Monday at 08:00 to identify overdue deliverables and escalate to Project Managers</description>
    <environments>Default</environments>
    <interviewLabel>Overdue Deliverable Escalation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Overdue Deliverable Escalation</label>
    <loops>
        <name>Loop_Overdue_Deliverables</name>
        <label>Loop Overdue Deliverables</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <collectionReference>Get_Overdue_Deliverables</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Status_to_Blocked</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Overdue_Deliverables</name>
        <label>Get Overdue Deliverables</label>
        <locationX>176</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Overdue_Deliverables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Due_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>In</operator>
            <value>
                <stringValue>In Progress,Not Started</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Deliverable__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Manager</name>
        <label>Get Project Manager</label>
        <locationX>44</locationX>
        <locationY>563</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Overdue_Deliverables.Project__r.Project_Manager__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_to_Blocked</name>
        <label>Update Status to Blocked</label>
        <locationX>44</locationX>
        <locationY>443</locationY>
        <connector>
            <targetReference>Get_Project_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Overdue_Deliverables.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Blocked</stringValue>
            </value>
        </inputAssignments>
        <object>Deliverable__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Overdue_Deliverables</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2026-01-05</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
